<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/editstyle.css' />
    <title>Son's Awesome Blog</title>
</head>
<body>
    <header>
        <h1 class="blog-title">Son's Awesome Blog</h1>
        <nav>
          <ul>
            <li class="nav-link"><a href="/blogs">Home</a></li>
            <li class="nav-link"><a href="">Sign Up</a></li>
            <li class="nav-link"><a href="">Log In</a></li>
          </ul>
        </nav>
    </header>
    <form method="post" action="/blogs/comments/<%= comment._id %>?_method=PUT">       
        <label>Edit Comment:</label><br>
        <textarea name="content" cols="80" rows="10"><%= comment.content %></textarea></br>
        <input type="submit"/>
    </form>
</body>
</html>