<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/indexstyle.css' />
  <title>Son's Awesome Blog</title>
</head>
<body>
  <main>
    <header>
      <h1 class="blog-title">Son's Awesome Blog</h1>
      <nav>
        <ul>
          <li><a href="/blogs/new" class="nav-link">Create Post</a></li>
        </ul>
      </nav>
    </header>
  
    <h2>All Posts</h2>
    <table>
      <tbody>
      <% blogs.forEach(function(blog) { %>
        <tr> 
          <td class="blogs"><%= blog.title %></td>
          <td><a href="/blogs/<%= blog._id %>">Read More</a></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
    <main>
  </body>
</html>