<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/newstyle.css' />
    <title>Son's Awesome Blog</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Log In</a></li>
          </ul>
        </nav>
    </header>
    <form id="new-form" action="/blogs" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Write your blog here:</label>
        <textarea id="post" cols="30" rows="10" name="content"></textarea>
      <input type="submit">
    </form>
</body>
</html>