@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body {
    padding:0;
    margin:0;
}

header {
    height: 100%;
    margin-top: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.nav-links {
    color: black;
}

ul {
    margin-top: 30px;
}

li {
    display: inline;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}

.blog-title {
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Train One', cursive;
    color: brown;
}

a {
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
    color: black;
}


form {
    margin-left: 50px;
    margin-top: 50px
}

