@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

body {
    padding:0;
    margin:0;
}

header {
    height: 100%;
    margin-top: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.nav-links {
    color: black;
}

li {
    display: inline;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 1000px;
}

.blog-title {
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'Train One', cursive;
}

.blogs {
    margin-left: 50px;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.nav-link {
    color: black;
}

table {
    margin: 0 auto;
}