body {
    padding:0;
    margin:0;
}

main {
    text-align: center;}
header {
    height: 100px;
    margin-top: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

li {
    display: inline;
    padding: 30px, 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: olive;

}

a {
    text-decoration: none;
}